
h1 {
    font-family: 'Arial', sans-serif;
    color: #ff0000; 
    text-shadow: 2px 2px 5px #ffcccc; 
    background-color: #ffeeee; 
    padding: 10px;
}


h2 {
    font-family: 'Verdana', sans-serif;
    color: #0000ff; 
    text-shadow: 2px 2px 5px #ccccff; 
    background-color: #e6e6ff; 
    padding: 8px;
}


h3 {
    font-family: 'Courier New', monospace;
    color: #008000; 
    text-shadow: 2px 2px 5px #ccffcc;
    background-color: #e6ffe6; 
    padding: 6px;
}


h4 {
    font-family: 'Georgia', serif;
    color: #800080; 
    text-shadow: 2px 2px 5px #cc66cc; 
    background-color: #f2e6ff; 
    padding: 5px;
}


h5 {
    font-family: 'Times New Roman', serif;
    color: #ffa500; 
    text-shadow: 2px 2px 5px #ffd699; 
    background-color: #fff2e6; 
    padding: 4px;
}


h6 {
    font-family: 'Impact', sans-serif;
    color: #000; 
    text-shadow: 2px 2px 5px #999999; 
    background-color: #f2f2f2; 
    padding: 3px;
}

p {
    font-family: 'Impact', sans-serif;
    color: #ff0000; 
    line-height: 1.5;
    background-color: #ffff00; 
    padding: 10px;
    margin: 10px 0;
}

label {
    font-family: 'Comic Sans MS', cursive;
    font-size: 20px;
    color: #ff00ff; /* Purple text color */
    text-shadow: 2px 2px 5px #00ffff; /* Cyan text shadow */
    background-color: #ffff00; /* Yellow background */
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin: 50px;
}

button {
    font-family: 'Impact', sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: #ff6600; /* Orange */
    border: 2px solid #004080; /* Dark blue border */
    padding: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 30px;
    box-shadow: 0 0 10px #ffcc00; /* Yellow shadow */
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}